.card {
    min-height: 240px;
}

.nav-link {
    color: black;
}

body {
    background-color: rgb(255, 255, 255);
}

.btn-color {
    color: black;
}

a {
    color: inherit;
}

a:hover {
    color: black;
    transform: scale(1.15);
}

.header-marg {
    margin-bottom: 25px;
}

.icon-marg {
    margin-left: 12px;
}

.icon-marg:hover {
    transform:scale(1.10)
}

.footer-h {
    height: 142px;
}

.footer-marg {
    margin-top: 15px;
}

.main-marg {
    margin-top: 150px;
    margin-bottom: 200px;
}

#contactModal {
    display: none;
}
